:root {
  font-size: 62.5%;

  --background: #f7f7f7;
  --darkPurple: #0b0928;
  --hover-darkPurple: #02001a;
  --pink: #fe0155;
  --hover-pink: #c80042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background-color: var(--background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem "Nunito";
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
