#wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
}

.mainSide {
  width: 50%;
  height: 100%;
  background: #0b0928;
  color: #fff;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mainSide h1 {
  font-size: 5rem;
}

.mainSide form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "name name"
    "cpf rg"
    "email email"
    "senha confirm";
  gap: 20px;

  width: 90%;
  align-items: center;
  justify-content: center;
}

#wrapper input {
  width: 100%;
  height: 70px;
  padding: 3rem;
  font-size: 26px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2rem;
}

#name {
  grid-area: name;
}
#cpf {
  grid-area: cpf;
}
#email {
  grid-area: email;
}
#senha {
  grid-area: senha;
}
#confirmenha {
  grid-area: confirm;
}

.drawSide {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  display: block;
  width: 25rem;
}

#drawC {
  display: block;
  width: 60rem;
}

.secondPage {
  position: relative;
}
